<body id="homepage-background-image">
<div id="homepage">
    <div class="first-page-text">
    <h1>Did you go to the beach this weekend?</h1>
<p>Discover all of your favourite beaches in Portugal</p>
<div class="homepage-sudo-buttons">
   
    <a class="sudo-button" href="/signup">Sign up</a>
   
    <a class="sudo-button" href="/login">Login</a>
</div>
</div>
</div>
</body>