<!-- edit-beach.hbs -->
<body id="create-new-beach">
  <div id="new-beach">
    <div class="new-beach-text">
      <h5>Add a new beach!</h5>
    </div>
    <form method="POST" action="/new" enctype="multipart/form-data">
      <label>Name:</label><br />
      <input type="text" name="name" placeholder="Name" />
      <br />
      <label>Description:</label><br />
        <input type="text" name="description" placeholder="Description" /><br />
      <label>Best Activity</label><br />
        <select name="activity">
          <option value="">Select an activity</option>
          <option value="hiking">Hiking</option>
          <option value="swimming">Swimming</option>
          <option value="surfing">Surfing</option>
          <option value="bodyboarding">Bodyboarding</option>
          <option value="beachvollyball">Beach Vollyball</option>
        </select> <br/>
        <br>
      <label>Rate</label><br />
        <select name="rating">
          <option value="">Your rate</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> <br/>
        <br>
      <lable>Address</lable><br />
        <input type="text" name="latitude" placeholder="Latitude" />
      <input type="text" name="longitude" placeholder="Longitude" /><br />
      <label>Image:</label><br />
        <br>
        <input type="file" name="beach-image" /><br />
          <div class="new-beach-submit">
        <button type="submit" id="submit">Submit</button>
      </div>
    </form>
  </div>
</body>